node_modules
.DS_Store
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
package-lock.json
yarn.lock
yarn-error.log
tempDir
coverage/

.eslintcache
databases
build
.vscode/
.tmp/

npmrc

*~
*.swp
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log*
# lib/
packages/build-scripts/lib
packages/build-plugin-store/lib
packages/build-plugin-ice-router/lib
packages/build-plugin-ice-stark-child/lib
packages/build-plugin-env-config/lib
packages/build-plugin-webpack5/lib
packages/build-plugin-rml/lib
packages/build-plugin-stark-module/lib
dist/
lib/
.idea/
examples/react-component/lib
examples/react-component/es
packages/template-component-demo/lib
packages/template-component-demo/es

.pnpm-debug.log
